@if (resultsOk()) {
  <H1>{{results()![0].race.location}}: {{results()![0].race.nbrparticipants}} participants</H1>
  <H1>Résultats de : {{results()![0].member.firstname+ " " +results()![0].member.lastname}}</H1>
  <H1>Classements</H1>    
  <div id="ClassementContainer">
    <table id="classement" cellspacing="4" >
      <tbody id="raceListBody">
        <tr>
          <th>Nom Course</th>
          <th>Lieu</th>
          <th>Distance</th>
          <th>temps</th>	
          <th>Points</th>	        
        </tr>
        @for(result of results()!; track result.member.id; let index=$index){
          <tr class="classementDetail">
            <td>{{result.race.name}}</td>
            <td>{{result.race.location}}</td>
            <td>{{result.race.distance}}</td>
            <td>{{result.points.valueOf() | number: '2.1-3'}}</td>	         
          </tr>
        }
        </tbody>
    </table>      
  </div>

} 